<style>
    .button{
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  height:100px;
  width:100px;
  background:#26eba3;
  color:black; 
  font-style:italic;
}

 

    .header{
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        outline: none;
        color: white;
        background-color: #04AA6D;
        border: none;
        border-radius: 15px;
        height:100px;
        width:100px;
        background:#2980b9;
        color:black; 
        font-style:italic;
    }
    .button:hover {background-color: red}

 

    .button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
</style>
<button id="clickme"  onclick="printSelected(this)"> Click me</button>
<table align="center">
<tr>

<td class="header">B</td>
<td class="header">I</td>
<td class="header">N</td>
<td class="header">G</td>
<td class="header">O</td>
</tr>

</table>
<br/>
<br/>

 

<table align="center">
<tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            if (i % 5 == 0)
            {
                @:</tr><tr>
            }

 

            <td>
<button class="button" id=@Model[i] onclick="sampleFunction(this)">@Model[i]</button>
</td>
        }
</tr>
</table>