<style>
    .button{
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  height:100px;
  width:100px;
  background:#26eba3;
  color:black; 
  font-style:italic;
}



    .header{
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        outline: none;
        color: white;
        background-color: #04AA6D;
        border: none;
        border-radius: 15px;
        height:100px;
        width:100px;
        background:#2980b9;
        color:black; 
        font-style:italic;
    }
    .button:hover {background-color: red}



    .button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
</style>
<table align="center">
<tr>

<td class="header">B</td>
<td class="header">I</td>
<td class="header">N</td>
<td class="header">G</td>
<td class="header">O</td>
</tr>

</table>
<br/>
<br/>



<table align="center">
<tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            if (i % 5 == 0)
            {
                @:</tr><tr>
            }
                <td>
                    <button class="button" id=@i onclick="setSelectedNumber(this)">@Model[i]</button>
                </td>
        }
</tr>
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

<script>

    var connection = new signalR.HubConnectionBuilder().withUrl("/bingohub").build(); 

    connection.on("ReceiveMessage", function (playerName, selectedButton) {
        console.log(playerName, selectedButton)
    });

    connection.start();
    function setSelectedNumber(button){

        button.style.backgroundColor = "red";
        button.disabled = true;        

        connection.invoke("SendMessage", "Ashen",button.innerHTML).catch(function (err) {
        return console.error(err.toString());
        });
        console.log(button.id); 
}

</script>